.modal_wrapper{
    width: auto;
}

.sign_in_modal_wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign_in_modal_wrapper p{
    text-transform: uppercase;
    font-size: 25px;
}

.sign_in_modal_wrapper input{
    margin: 10px;
    border-style: solid;
    padding: 13px;
    background-color: white;
    background-image: url('userIcon.png');
    background-size: 2em;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 13px;
}

.sign_in_modal_wrapper input[type = password]{
    margin: 10px;
    border-style: solid;
    padding: 13px;
    background-color: white;
    background-image: url('passwordIcon.png');
    background-size: 2em;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-bottom: 13px;
}

.sign_in_modal_wrapper input:focus {
    border: 3px solid #555;
}