.calculator_wrapper{
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    font-weight: 1000;
    font-size: 18px;
}

.calculator_wrapper select{
    font-size: 15px;
    width: 20%;
    padding: 5px;
}

.calculator_wrapper label{
    font-family: 'Times New Roman', Times, serif;
}

.calculator_inputs{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.calculator_inputs input{
    display: block;
    width: 95%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.calculator_lables{
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.money_amount_input{
    margin-top: 10px;
    padding: 10px;
    width: 60%;
    align-self: center;
    text-align: center;
}

.money_amount_lable{
    margin-top: 40px;
    align-self: center;
}