.create_project_wrapper{
    display: flex;
    flex-direction: column;
}

.create_project_wrapper input{
    border-radius: 5px;
    margin: 5px;
    width: 90%;
}

button {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    color: rgb(182, 162, 162);
    box-shadow: 0 0 0 2px white;
    padding: 5px 0;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
    background-color: rgb(217, 248, 77);
}

.create_project_wrapper select{
    width: 50%;
    text-align: center;
}